<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://concordyaapi.chinacloudsites.cn</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>concordyaapi.scm.chinacloudsites.cn:443</MSDeployServiceURL>
    <DeployIisAppPath>ConcordyaAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ConcordyaAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ConcordyaPayeeDataContext" Order="4" Enabled="True">
          <Destination Path="Data Source=tcp:tzmiztmqgc.database.chinacloudapi.cn,1433;Initial Catalog=ConcordyaAPI_db;User ID=cheng@tzmiztmqgc;Password=C0nC0rdya!" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ConcordyaPayee.Data.ConcordyaPayeeDataContext, ConcordyaPayee.Data" MigrationConfiguration="ConcordyaPayee.Data.Migrations.Configuration, ConcordyaPayee.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="5" Enabled="True">
          <Destination Path="Data Source=tcp:tzmiztmqgc.database.chinacloudapi.cn,1433;Initial Catalog=ConcordyaAPI_db;User ID=cheng@tzmiztmqgc;Password=C0nC0rdya!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\ConcordyaWebApi_db.mdf;Initial Catalog=ConcordyaWebApi_db;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\ConcordyaWebApi_db.mdf;Initial Catalog=ConcordyaWebApi_db;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConcordyaPayeeDataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tzmiztmqgc.database.chinacloudapi.cn,1433;Initial Catalog=ConcordyaAPI_db;User ID=cheng@tzmiztmqgc;Password=C0nC0rdya!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tzmiztmqgc.database.chinacloudapi.cn,1433;Initial Catalog=ConcordyaAPI_db;User ID=cheng@tzmiztmqgc;Password=C0nC0rdya!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>